* {
  margin: 0;
  padding: 0;
  list-style: none; }

body, html {
  width: 100%; }

.aa, .center {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.tiao {
  width: 100%;
  height: 0.18rem;
  margin-top: 0.36rem;
  background: #eaeaea; }

header {
  width: auto;
  margin: 0 8px;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header img {
    height: 0.77rem;
    width: 2.16rem;
    margin-left: 0.18rem; }
  header .div_center {
    font-size: 36px; }
  header .div_rignt {
    font-size: 22px;
    display: flex;
    color: #999999;
    align-items: center; }
    header .div_rignt div {
      margin-left: 0.2rem; }
    header .div_rignt .one {
      font-size: 45px; }
    header .div_rignt .tow {
      font-size: 45px; }

.nr {
  height: 2.5rem;
  display: flex;
  align-items: center; }
  .nr img {
    width: 1.8rem;
    height: 1.8rem; }
  .nr .div {
    display: flex;
    align-items: center; }
  .nr .div2 {
    color: white;
    background: #2BB281;
    margin-left: 0.2rem; }
  .nr .right {
    font-size: 28px;
    margin-left: 0.2rem; }
    .nr .right div {
      margin-bottom: 0.1rem; }
    .nr .right .c {
      font-size: 36px; }
    .nr .right .s {
      color: gold; }
    .nr .right .f {
      color: gainsboro; }

.zan {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem; }
  .zan ul {
    display: flex;
    margin: 0.4rem auto; }
  .zan li {
    margin-right: 0.8rem;
    text-align: center; }
    .zan li p {
      font-size: 24px; }
    .zan li .p {
      color: #feb505; }
    .zan li .p2 {
      color: #1b9af7; }
    .zan li .p3 {
      color: #ff4351; }
    .zan li img {
      width: 1rem;
      height: 1rem; }
  .zan li:nth-last-child(1) {
    margin-right: 0rem; }

.jl {
  margin: 0 8px;
  font-size: 0.28rem;
  color: #CCCCCC; }
  .jl span {
    color: #000000; }

.top {
  margin: 0 8px;
  border-left: 3px solid #2bb281;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 0.36rem;
  margin-top: 0.24rem;
  justify-content: space-between; }
  .top span {
    color: gainsboro;
    font-size: 0.24rem; }

.center {
  margin: 0 8px;
  background: #F4F4F4;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; }
  .center li {
    width: 47%;
    background: white;
    text-align: center;
    border: 1px solid gainsboro;
    margin-top: 0.12rem; }
    .center li img {
      width: 3.51rem;
      height: 2.34rem; }

.center > li > p:nth-of-type(1) {
  font-size: 24px; }

.center > li > p:nth-of-type(2) {
  font-size: 18px;
  color: darkgray;
  margin-bottom: 0.22rem; }

.bottom {
  font-size: 28px;
  margin: 0.2rem 8px;
  text-indent: 0.5rem; }

.bt {
  font-size: 28px;
  margin-bottom: 0.2rem;
  text-align: center;
  margin-top: 0.3rem; }
  .bt span {
    color: #2BB281; }

.ul2 {
  margin: 0 8px;
  font-size: 36px;
  display: flex; }
  .ul2 li {
    width: 25%;
    text-align: center; }
  .ul2 .li {
    color: #2BB281; }

.div_bt {
  height: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gainsboro;
  font-size: 22px; }

/*# sourceMappingURL=scss.css.map */
