@charset "utf-8";
*{margin: 0;padding: 0;list-style: none;}
html,body{ width: 100%;}
.displays{display: flex;justify-content: space-between;}
.display{display: flex;justify-content: space-around;}
.width{width: 100%;}
.center{text-align: center;}
header{
    width: auto;
    margin: 18px 16px;
    font-size: 0.22rem;
    border-bottom:1px #F4F4F4 solid ;
    div{width: 33%;text-align: center;}
    @extend .displays;
}
header>div:nth-of-type(2){
   font-size: 0.33rem;line-height:103px;
}
header>div:nth-of-type(3){
    @extend .center;
    @extend .displays;
}

article{
    width: auto;
    margin: 0 18px;
    @extend .width;
    .ping-jia{width: 100%;font-size: 0.28rem;border-bottom:1px #F4F4F4 solid ;}
    .ping_jia{ @extend .displays;}
    img{width: 0.6rem;margin: 36px 20px;}
}
.fen_ye{
    width: 100%;
    display: flex;
    font-size:0.33rem; 
    div{width: 33.3%;text-align: center;height: 1rem;line-height: 1rem;}
}










.jian_jie{
    font-size: 30px;
    border-bottom: 8px #F4F4F4 solid;
    box-sizing: border-box;padding: 18px;
    text-indent: 50px;
}
footer{
    width: 100%;
    font-size: 30px;
    .chu_ping{@extend .display;}
}
footer>div:nth-of-type(2){
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
footer>div:nth-of-type(4){
    width: 100%;
    text-align: center;
    margin: 20px 0;
}